<h1>Learn to push it... to Heroku</h1>

<div class="col-md-4">
	<ol>
		<h3>Git</h3>
		<li>Initialize your git repo (git init)</li>
		<li>git add .</li>
		<li>git commit -m "Commit message here"</li>
		<li>Create a Github repo</li>
		<li>Add the github repo remote</li>
		<li>Push to your new repo</li>
		<h3>Heroku</h3>
		<li>Create a Heroku app</li>
		<li>Add the Heroku remote</li>
		<li>Push to your heroku remote</li>
	</ol>
</div>

<div class="col-md-8">
	<iframe width="640" height="480" src="https://www.youtube.com/embed/vCadcBR95oU?rel=0?autoplay=1" frameborder="0" allowfullscreen></iframe>
</div>
